input,button{outline: none}
.favorSection{width: 80%;margin: 50px auto 0px;border-style: solid;border-width: 1pt;
    border-color: lightgray;border-radius: 15px}
.headText{padding-left: 20px;border-top-left-radius: 15px;border-top-right-radius: 15px;background-color: rgba(30,37,32,0.2);
    border-width: 1px;padding-top: 5px;padding-bottom: 5px;}
.favorWork{height: 300px;border-top-style: solid;border-top-width: 1px;border-top-color: lightgray}
.workElement{display: inline;padding-left: 40px;padding-top: 30px}
.favorImg{height: 80%;padding-top: 30px;float: left;padding-left: 1%;padding-right: 1%}
.workTitle{margin-bottom: 40px}
.workDescription{width: 70%;text-align: left;display: -webkit-box;-webkit-box-orient: vertical;
    -webkit-line-clamp: 5;overflow: hidden;word-break: break-all;}
.deleteBtn:hover{opacity: 0.7}
.pageFooter{margin-top: 10px;width: 100%;text-align: center;font-size: x-large;color: rgba(16,165,255,1);font-family: 幼圆}